<div class="container">
    <div class="accordion" id="support">
        <div class="py-2 accordian-header box-shadow" id="cargillLogo" data-toggle="collapse"
            data-target="#logoCollapse" aria-expanded="true" aria-controls="cargillLogo">
            Cargill Logos
        </div>
        <div id="logoCollapse" class="collapse show" aria-labelledby="cargillLogo" data-parent="#support">
            <p class="h6 pt-3 pb-2 text-secondary">Below displayed logo's are the Cargill standard logo and reside in
                <i>assets/images/cargill-logo.</i>
            </p>
            <div class="row">
                <div class="col-lg-4">
                    <div class="light-green-10 text-center border-radius p-3">
                        <img src="../../../assets/images/cargill-logo/cargill-logo.png" alt="cargill-logo"
                            height="100px" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="grey-10 text-center border-radius p-3">
                        <img src="../../../assets/images/cargill-logo/cargill-white-logo.png" alt="cargill-white-logo"
                            height="100px" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="light-blue-10 text-center border-radius p-3">
                        <img src="../../../assets/images/cargill-logo/cargill-logo-black-and-white.png"
                            alt="cargill-black-white-logo" height="100px" />
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="py-2 accordian-header box-shadow" id="cargillColor" data-toggle="collapse"
            data-target="#colorCollapse" aria-expanded="false" aria-controls="cargillColor">
            Cargill Branding Color
        </div>
        <div id="colorCollapse" class="collapse" aria-labelledby="cargillColor" data-parent="#support">
            <p class="h6 pt-3 pb-2 text-secondary">Below displayed color codes are the Cargill standard color codes. You
                can
                use
                it
                anywhere in your project by calling there css class name which is reside in
                <i>assets/cargill-colors.css</i>. Example: If you want use red color as shown below, then simply call
                red-(number) like red-90, red-80, red-70 ...and same for light green you can use light-green-90,
                light-green-80, light-green-70 ... so on for rest.
            </p>
            <div id="cargillColor">
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Red</div>
                    <div class="col red-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col red-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col red-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col red-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col red-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col red-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col red-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col red-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col red-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Orange</div>
                    <div class="col orange-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col orange-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col orange-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col orange-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col orange-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col orange-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col orange-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col orange-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col orange-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Gold</div>
                    <div class="col gold-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col gold-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col gold-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col gold-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col gold-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col gold-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col gold-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col gold-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col gold-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Yellow</div>
                    <div class="col yellow-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col yellow-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col yellow-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col yellow-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col yellow-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col yellow-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col yellow-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col yellow-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col yellow-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Light Green</div>
                    <div class="col light-green-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col light-green-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col light-green-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col light-green-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col light-green-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col light-green-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col light-green-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col light-green-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col light-green-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Green</div>
                    <div class="col green-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col green-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col green-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col green-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col green-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col green-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col green-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col green-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col green-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Logo Green</div>
                    <div class="col logo-green-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col logo-green-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col logo-green-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col logo-green-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col logo-green-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col logo-green-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col logo-green-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col logo-green-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col logo-green-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Aqua</div>
                    <div class="col aqua-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col aqua-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col aqua-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col aqua-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col aqua-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col aqua-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col aqua-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col aqua-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col aqua-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Light Blue</div>
                    <div class="col light-blue-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col light-blue-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col light-blue-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col light-blue-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col light-blue-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col light-blue-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col light-blue-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col light-blue-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col light-blue-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Blue</div>
                    <div class="col blue-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col blue-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col blue-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col blue-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col blue-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col blue-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col blue-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col blue-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col blue-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
                <div class="row px-2">
                    <div class="col border-radius p-1 m-2 text-left">Grey</div>
                    <div class="col grey-90 border-radius box-shadow small p-1 m-2 text-center">90</div>
                    <div class="col grey-80 border-radius box-shadow small p-1 m-2 text-center">80</div>
                    <div class="col grey-70 border-radius box-shadow small p-1 m-2 text-center">70</div>
                    <div class="col grey-60 border-radius box-shadow small p-1 m-2 text-center">60</div>
                    <div class="col grey-50 border-radius box-shadow small p-1 m-2 text-center">50</div>
                    <div class="col grey-40 border-radius box-shadow small p-1 m-2 text-center">40</div>
                    <div class="col grey-30 border-radius box-shadow small p-1 m-2 text-center">30</div>
                    <div class="col grey-20 border-radius box-shadow small p-1 m-2 text-center">20</div>
                    <div class="col grey-10 border-radius box-shadow small p-1 m-2 text-center">10</div>
                </div>
            </div>
        </div>
        <br>
        <div class="py-2 accordian-header box-shadow" id="cargillComponent" data-toggle="collapse"
            data-target="#componentCollapse" aria-expanded="false" aria-controls="collapseThree">
            Components
        </div>
        <div id="componentCollapse" class="collapse" aria-labelledby="cargillComponent" data-parent="#support">
            <p class="h6 pt-3 pb-2 text-secondary">Below are some reusable components and if you expand you can see how
                to use
                each and
                individual components in your projects.</p>
            <div id="components">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12" id="miscellaneous">
                        <a class="text-decoration-none" data-toggle="collapse" data-target="#collapseMiscellaneous"
                            aria-expanded="true" aria-controls="collapseMiscellaneous">
                            <div class="accordian-header py-2 text-center box-shadow">Miscellaneous</div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12" id="form">
                        <a class="text-decoration-none" data-toggle="collapse" data-target="#collapseForm"
                            aria-expanded="true" aria-controls="collapseForm">
                            <div class="accordian-header py-2 text-center box-shadow">Form</div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12" id="table">
                        <a class="text-decoration-none" data-toggle="collapse" data-target="#collapseTable"
                            aria-expanded="true" aria-controls="collapseTable">
                            <div class="accordian-header py-2 text-center box-shadow">Table</div>
                        </a>
                    </div>
                </div>
                <div id="collapseMiscellaneous" class="collapse" aria-labelledby="miscellaneous"
                    data-parent="#components">
                    <hr>
                    <p class="h6 text-secondary">There are various <strong>MISCELLANEOUS</strong> components we design
                        for
                        developer to save there
                        time. Now developer only no need to worried for look and feel, alignment validation. He only
                        need to focus what data or image he want to display, other thing's will be taken care by
                        reusable component.</p>
                    <div class="row pl-2 pr-2 pt-2 pb-4">
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showCarousel()">
                            Carousel
                        </div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showAlert()">
                            Alert</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showTiles()">
                            Tiles</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showCollapse()">
                            Collapse
                        </div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showCard()">Card
                        </div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showListGroup()">
                            List
                            Group</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showModal()">
                            Modal</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showProgressbar()">
                            Progressbar</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showImageCard()">
                            Image
                            Card</div>
                        <div class="col accordian-header box-shadow p-1 m-2 text-center" (click)="showSpinner()">
                            Spinner
                        </div>
                    </div>
                    <div *ngIf="carousel">
                        <cargill-carousel [caroiselgallery]="caroiselgallery"></cargill-carousel>
                    </div>
                    <div *ngIf="alert">
                        <cargill-alert message='This is default alert.'></cargill-alert>
                        <cargill-alert bgColor="#BFDCE0" message='This is alert set color as #BFDCE0.'></cargill-alert>
                    </div>
                    <cargill-collapse *ngIf="collapse" header="Click to Expand"
                        message="This message will visible after click on the button."></cargill-collapse>
                    <div class="row" *ngIf="card">
                        <div class="col-lg-6 col-md-6">
                            <cargill-cards imagePath="../assets/images/card-image-1.jpg"
                                message="This area is to display the first card message.">
                            </cargill-cards>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <cargill-cards imagePath="../assets/images/card-image-2.jpg"
                                message="This area is to display the second card message.">
                            </cargill-cards>
                        </div>
                    </div>
                    <div class="row" *ngIf="tiles">
                        <div class="col-6">
                            <cargill-tiles header="Header 1" message="Your first message displayed here !">
                            </cargill-tiles>
                        </div>
                        <div class="col-6">
                            <cargill-tiles header="Header 2" message="Your second message displayed here !">
                            </cargill-tiles>
                        </div>
                    </div>
                    <cargill-list-group [items]="listGroupItem" *ngIf="listGroup"></cargill-list-group>
                    <div class="row justify-content-center" *ngIf="modal">
                        <cargill-button name="Show Modal" (click)="openModal()"></cargill-button>
                    </div>
                    <div *ngIf="imageCard">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/agriculture">
                                    <cargill-image-cards image="../../../assets/images/grain.jpg"
                                        message="Grain & Oilseeds">
                                    </cargill-image-cards>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/animal-nutrition">
                                    <cargill-image-cards image="../../../assets/images/animalnutrition.jpg"
                                        message="Animal Nutrition">
                                    </cargill-image-cards>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/bioindustrial">
                                    <cargill-image-cards image="../../../assets/images/bioIndustrial.jpg"
                                        message="BioIndustrial">
                                    </cargill-image-cards>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/cargill-foods-india">
                                    <cargill-image-cards image="../../../assets/images/food.jpg"
                                        message="Oils, Fats & Foods">
                                    </cargill-image-cards>
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/metals">
                                    <cargill-image-cards image="../../../assets/images/metals.png" message="Metals">
                                    </cargill-image-cards>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 p-3">
                                <a class="text-decoration-none" href="https://www.cargill.co.in/en/risk-management">
                                    <cargill-image-cards image="../../../assets/images/risk.jpg"
                                        message="Risk Management">
                                    </cargill-image-cards>
                                </a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 p-3">
                                <a class="text-decoration-none"
                                    href="https://www.cargill.co.in/en/trade-and-structured-finance">
                                    <cargill-image-cards image="../../../assets/images/trade.jpg"
                                        message="Trade & Structured Finance">
                                    </cargill-image-cards>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="progressbar">
                        <cargill-progressbar current="250" total="1000"></cargill-progressbar>
                        <hr>
                        <cargill-progressbar bgColor='red' textColor='white' current="280" total="1000">
                        </cargill-progressbar>
                    </div>
                    <div class="row justify-content-center" *ngIf="spinner">
                        <cargill-spinner image="../../../../assets/images/cargill-logo/cargill-white-logo.png">
                        </cargill-spinner>
                    </div>
                </div>
                <div id="collapseForm" class="collapse" aria-labelledby="form" data-parent="#components">
                    <hr>
                    <div class="card-body p-0">
                        <p>The <strong>FORM</strong> we design in such a way that, developer no need to worry about the
                            the
                            form component like input-text, input-password, input-email, input-number, input-radio,
                            input-checkbox, select and datepicker and form validation. Developer only need to pass few
                            parameter
                            as input and it will generate the form for development.</p>
                        <div class="mt-4">
                            <form [formGroup]="submitForm" (ngSubmit)="onSubmitForm()" novalidate>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="accordian-header py-2 box-shadow">
                                                Submit Form
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <cargill-input label="First Name" placeholder="First Name" type="text"
                                            [required]="true" [isSubmitted]="submitted" formControlName="firstname">
                                        </cargill-input>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <cargill-input label="Last Name" placeholder="Last Name" type="text"
                                            [required]="true" [isSubmitted]="submitted" formControlName="lastname">
                                        </cargill-input>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <cargill-input label="Email" placeholder="Email" type="text" [required]="true"
                                            [isSubmitted]="submitted" formControlName="email" [email]="true">
                                        </cargill-input>
                                        <cargill-input label="Phone" placeholder="Phone" type="tel" [required]="true"
                                            [isSubmitted]="submitted" formControlName="phone" [maxlength]="10">
                                        </cargill-input>
                                        <cargill-input label="Password" placeholder="Password" type="password"
                                            [required]="true" [isSubmitted]="submitted" formControlName="password">
                                        </cargill-input>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Technology</label>
                                        <div formArrayName="technology">
                                            <div [formGroupName]="i" *ngFor="let item of technology; let i = index">
                                                <cargill-checkbox formControlName="checked"
                                                    label="{{technology[i].name}}">
                                                </cargill-checkbox>
                                            </div>
                                        </div>
                                        <br>
                                        <label>Employement</label>
                                        <cargill-radio-button [radioButtons]="employement"
                                            formControlName="employement">
                                        </cargill-radio-button>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <cargill-select label="Enterprise" placeholder="Enterprise" type="text"
                                            [options]="enterprise" [required]="true" [isSubmitted]="submitted"
                                            formControlName="enterprise">
                                        </cargill-select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <cargill-datepicker type="date" label="Start Date" placeholder="Start Date"
                                            [required]="true" [isSubmitted]="submitted" formControlName="date">
                                        </cargill-datepicker>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <cargill-textarea label="Comments" placeholder="Comments" [required]="true"
                                            [isSubmitted]="submitted" formControlName="comments"></cargill-textarea>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <cargill-file-upload formControlName="file"></cargill-file-upload>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <cargill-checkbox label="Accept Term and Condition" [isSubmitted]="submitted"
                                            formControlName="accept" [required]="true"></cargill-checkbox>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <cargill-button class="float-right" name="Submit"></cargill-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="collapseTable" class="collapse" aria-labelledby="table" data-parent="#components">
                    <p class="h6 pt-3 pb-2 text-secondary">Normal Table</p>
                    <cargill-table [data]="tableData" [pagelength]="2"></cargill-table>
                    <hr>
                    <p class="h6 text-secondary">Search Table</p>
                    <cargill-table [data]="tableData" [pagelength]="2" [search]="true"></cargill-table>
                    <hr>
                    <p class="h6 text-secondary">Advanced Table</p>
                    <cargill-table [data]="tableData" [pagelength]="2" [search]="true" [advanced]="true">
                    </cargill-table>
                    <hr>
                    <p class="h6 text-secondary">Editable Table</p>
                    <cargill-table [data]="tableData" [pagelength]="2" [search]="true" [advanced]="true"
                        [editable]="true">
                    </cargill-table>
                </div>
            </div>
        </div>
    </div>
</div>